@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Orbitron:wght@400..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

@import "tailwindcss";


@theme {
        --color-pale: #F4FEC1;
        --color-accent: #D9F9A5;
        --color-highlight: #D2D68D;
        --color-neutral: #81726A;
        --color-dark: #68534D;
        --color-black1: #141414;
        --color-black2: #1b1b1b;
        --color-black3: #121212;
        --color-black4: #2e2e2e;
        --color-orange1: #f78166;
        --color-purple1: #8957e5;
        --font-orbitron: "Orbitron", sans-serif;

}
body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
}